header {
width: 100%;
height: 100px; 
background-image: url("../img/musica.jpg");
background-size: 80%;
background-position-y: 400px;
padding-top: 120px;
text-align: center;
}





h1 {
width: 100%;
font-family: Verdana;
font-size: 50pt;
color: red;
text-shadow: 10px 10px 15px black;
margin-top: 15px;
}


nav{
  background-color: rgb(61, 61, 61);
  padding: 5px;
  text-align: center;
}

nav ul li{
  display: inline-block;
  margin: 5px;
}
nav ul li a {
color: chocolate;
font-family: arial;
text-decoration: none;
}
h2{
  color: chocolate;
}

main p {
margin: 10px;
width: 80%;
margin-left: auto;
margin-right: auto;
text-align: justify;
font-family: "Lucida Sans";
font-size: 12pt;
line-height: 30px;
color: #fff;
}

footer {
width: 100%;

background-color: rgb(138, 28, 28);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center ;
height: 300px;
}

footer div{
border: 1px solid rgb(201, 52, 52);
margin: 10px;
background-color: rgb(173, 53, 53);
}

footer p {
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Sans";
  font-size: 20pt;
  line-height: 25px;

}
#redes{
position: absolute;
right: 50px;
}
#redes ul{
list-style: none;
}

#redes ul li{
display: inline-block;
margin: 10px;
height: 100px;
}
#redes ul li a img {
width: 40px;
height: 40px;
}



h2 {
  font-family: "Lucida Sans";
  font-size: 20pt;
  margin: 50px;
}
main p{
  margin: 10px;
  width: 80%;

  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Lucida Sans";
  font-size: 12pt;
  line-height: 30px;
}

form{
  width:50%;
  padding:20px;
  margin-left:auto;
  margin-right:auto;
}



input {
display: block;
width:50%;
margin: 10px;
height: 20px
}

form p {
  font-family: "Lucida Sans";
  font-size: 20pt;
  margin: 25px;
  
}


form textarea{
display: block;
width:50%;
margin: 10px;
height: 100px

}

/* ------------------------------teste------------------------------- */


#miniatura{
  
  bottom: 0px;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#miniatura img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  margin: 10px;
  transition: ease 0.5s;
}

#miniatura img:hover{
  transform: scale(1.1);
}

